# Django settings
SECRET_KEY=your-secret-key
DEBUG=True
DJANGO_PORT=8088
DJANGO_EXPOSED_PORT=8088

# Database (PostgreSQL)
POSTGRES_DB=snipbox
POSTGRES_USER=snipbox_user
POSTGRES_PASSWORD=snipbox_pass

# Django will connect using the container name "db"
DB_HOST=db
DB_PORT=5432
DB_EXPOSED_PORT=5432