# Django settings
SECRET_KEY=your-secret-key
DEBUG=True

# Database (PostgreSQL)
POSTGRES_DB=snipbox
POSTGRES_USER=snipbox_user
POSTGRES_PASSWORD=snipbox_pass

# Django will connect using the container name "db"
DB_HOST=db
DB_PORT=5432